/* ==================== GERAL ==================== */
:root {
    --firstColor: rgb(6, 47, 100);
    --secondColor: rgb(14, 34, 61);
    --textFirstColor: rgb(250, 235, 215);
    --textSecondColor: rgb(112, 238, 255);
    --fontFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

body {
    background-color: var(--firstColor);
    /* background-image: url(../image/background.gif); */
}

/* ==================== HEADER ==================== */
header {
    /* position: fixed; */
    display: flex;
     align-items: center;
    width: 100vw;
    height: 80px;
    box-shadow: 2px 1px 20px;
    background-color:  rgb(14, 34, 61);
}

header img {
    margin-left: 50px;
    height: 70px;
}

    header img:hover {
        height: 80px;
        cursor: pointer;
        transition: 0.3s;
    }

#ul_main {
    position: absolute;
     right: 0;
    display: flex;
     gap: 10px;
    margin-top: -10px;
    margin-right: 80px;
}

    #ul_main li {
        padding: 10px;
         padding-top: 5px;
         padding-bottom: 5px;
        cursor: pointer;
        list-style: none;
        text-decoration: none;
        color: rgb(250, 235, 215);
        font-size: 1.3em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

        #ul_main li:hover {
            border-radius: 5px;
            transition: 0.3s;
            background-color: rgba(250, 235, 215, 0.349);
        }

    #ul_main a {
        text-decoration: none;
        color: antiquewhite;
    }

.btn-login {
    font-size: 1.05em;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: antiquewhite;
}

#ul_main #user_li {
    color: var(--textSecondColor);
    font-family: var(--fontFamily);
}


/* ==================== OPTIONS USER ==================== */
#options-user {
    position: absolute;
     top: 0;
     right: 0;
    display: none;
     align-items: center;
     justify-content: center;
    width: 40vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: var(--fontFamily);
}

    #ul-options-user {
        position: relative;
        display: flex;
         flex-direction: column;
         align-items: center;
         gap: 30px;
        width: 100%;
        }
        
        .li-options-user {
            display: flex;
             justify-content: center;
             align-items: center;
            width: 100%;
            height: 120px;
            list-style: none;
            font-size: 1.3em;
        }

            .li-options-user:hover {
                background-color: rgba(255, 255, 255, 0.1);
                transition: 0.7s;
                cursor: pointer;
            }

        .li-options-user a {
            text-decoration: none;
            color: antiquewhite;
        }

        .li-options-user button {
            background-color:rgba(0, 0, 0, 0);
            color: var(--textFirstColor);
            font-size: 1.0em;
            border: none;
            cursor: pointer;
        }


#close-options-user {
    position: absolute;
     right: 0;
    display: flex;
     align-self: flex-start;
    margin: 15px;
    font-size: 0.6em;
    color: rgb(236, 200, 0);
    cursor: pointer;
}



/* ==================== MAIN ==================== */
main {
    display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 50px;
    margin-top: 10rem;
    width: 100vw;
}

.main-title {
    width: 500px;
    margin-top: 5rem;
    color: antiquewhite;
    font-size: 2.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    .main-title:hover {
        font-size: 2.4em;
        transition: 0.3s;
    }
    .main-title:not(:hover) {
        font-size: 2.2em;
        transition: 0.3s;
    }

.main-img {
    align-self: center;
    height: 550px;
}

    .main-img:hover {
        height: 600px;
        transition: 0.3s;
    }
    .main-img:not(:hover) {
        height:500px;
        transition: 0.3s;
    }

#welcome_userName {
    color:rgb(112, 238, 255);
}



/* ==================== MODAL ==================== */
#modalLogin {
    position: absolute;
    display: none;  /* display: none;*/
     flex-direction: column;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6);
    background-color: antiquewhite;
}

    #modalLogin > h4 {
        margin-top: 70px;
        margin-left: 100px;
        font-size: 2em;
        color: rgb(6, 47, 100);
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #userName {
        margin-top: 70px;
        margin-left: 100px;
        width: 300px;
        height: 40px;
         border-left: none;
         border-top: none;
         border-right: none;
         border-color: rgb(158, 158, 158);
        color: rgb(6, 47, 100);
        background-color: rgba(0, 255, 255, 0);
        font-size: 1.1em;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

        #userName:hover {
            background-color: rgba(6, 47, 100, 0.1);
            border-radius: 5px;
        }

        #userName:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }

    #btnLoginFinish {
        margin-top: 100px;
        margin-left: 100px;
        width: 300px;
        height: 40px;
        border: none;
         border-radius: 5px;
        color: antiquewhite;
        background-color: rgb(6, 47, 100);
        font-size: 1.1em;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

        #btnLoginFinish:hover {
            background-color: rgb(10, 68, 143);
        }

#closeModal {
    position: absolute;
    display: flex;
     align-self: flex-end;
    margin: 5px 10px;
    cursor: pointer;
    color: rgb(14, 34, 61);
    font-size: 0.8em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}