:root {
  --mobile: 360px;
  --tablet: 640px;
  --desktopS: 768px;
  --desktopL: 1086px;
  --firstColor: #fff;
  --secondColor: #003852;
  --thirdColor: #7e7e7e;
}


header {
  display: flex;
   justify-content: space-between;
   align-items: center;
  padding: 30px;
  width: 100%;
  height: 100px;
  /* background-color: var(--firstColor); */
  font-family: Arial, Helvetica, sans-serif;
}

.link-group {
  display: flex;
   gap: 20px;
}

.logo {
  text-decoration: none;
  font-weight: bolder;
  font-size: 2em;
  color: var(--firstColor);
  cursor: pointer;
}

.link-header {
  font-weight: bolder;
  font-size: 1em;
  text-decoration: none;
  color: var(--firstColor);
  cursor: pointer;
  transition: all 0.5s;
}

.link-header:hover {
  color: var(--thirdColor);
}