:root {
  --mobile: 360px;
  --tablet: 640px;
  --desktopS: 768px;
  --desktopL: 1086px;
  --firstColor: #fff;
  --secondColor: #003852;
  --thirdColor: #7e7e7e;
}


.div-header {
  display: flex;
   justify-content: space-around;
   align-items: center;
  padding: 30px;
  width: 100%;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  text-decoration: none;
  font-weight: bolder;
  font-size: 2em;
  color: var(--firstColor);
  cursor: pointer;
}

.icon-menu {
  font-size: 2em;
  border: none;
  cursor: pointer;
  color: var(--firstColor);
  background-color: transparent;
}

.div-options {
  display: none;
}










/* acima de 640px
@media screen and (min-width: 640px) {

  .link-group {
    display: flex;
     gap: 40px;
    list-style-type: none;
  }
  
  .link-header {
    font-weight: bolder;
    font-size: 1em;
    text-decoration: none;
    color: var(--firstColor);
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .link-header:hover {
    color: var(--thirdColor);
  }
  
  .dropdown-menu {
    position: absolute;
    display: none;
     flex-direction: column;
     gap: 15px;
    padding-top: 12px;
    transition: all 0.5s;
  }
  
  .dropdown-menu a {
    display: block;
  }
  
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .link-header {
    color: red;
  }
}



@media screen and (min-width: 768px) {
  .link-header {
    color: green;
  }
}



@media screen and (min-width: 1080px) {
  .link-header {
    color: blue;
  }
} */