:root {
  --mobile: 360px;
  --tablet: 640px;
  --desktopS: 768px;
  --desktopL: 1086px;
  --firstColor: #fff;
  --secondColor: #003852;
  --thirdColor: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@media screen and (min-width: 640px) {
  /* var(--tablet) */
}

@media screen and (min-width: 768px) {
  /* var(--desktopS) */
}

@media screen and (min-width: 1080px) {
  /* var(--desktopL) */
}