:root {
  --mobile: 360px;
  --tablet: 640px;
  --desktopS: 768px;
  --desktopL: 1086px;
  --firstColor: #fff;
  --secondColor: #003852;
  --thirdColor: #7e7e7e;
}

/* .div-container {

} */

/* .container {

} */

.link-group {
  display: flex;
   flex-direction: column;
   align-items: center;
  list-style-type: none;
  background-color: #161616cc;
}

.li-link-header {
  padding: 40px;
}

.link-header {
  text-decoration: none;
  font-size: 2em;
  color: var(--desktopS);
}

.dropdown-menu {
  display: none;
}